<!DOCTYPE HTML>
 
<html>
<head>
    <title>Spring Boot - Angularjs Example</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="/js/controller.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    
</head>
<body>
 
<div class="container" ng-app="app">
 
  <h3 style="text-align:center">Twillio SMS Demo App</h3>
  
  <div ng-controller="postcontroller">
    <form class="form-horizontal" name="customerForm" ng-submit="submitForm()">
      <div class="form-group">
        <label class="control-label col-sm-2" for="number">Phone Number:</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" name="phoneNumber" id="number"
            placeholder="Enter Phone Number with country code" ng-model="phoneNumber" required/>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="message">Message Content:</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" name="message" id="message"
            placeholder="Enter Message" ng-model="message" required/>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
</body>
</html>